@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

:root {
    --font-1: "Mukta", sans-serif;
    --font-2: "Poppins", sans-serif;
    --clr: #7367f0;
    --clr-1: #6033ca;
    --bg-1: #331E6D;
}

body {
    font-family: var(--font-1);
}

input::placeholder {
    color: lightgray !important;
}
.font-style-1{
    font-family: var(--font-1) !important;
}
.font-style-2{
    font-family: var(--font-2) !important;
}
.clr-custom {
    color: var(--clr);
}

.clr-custom-1 {
    color: var(--clr-1);
}

.bg-custom {
    background-color: #F8F7FA;
}
.bg-1 {
    background-color: var(--bg-1)!important; 
}

.v-list-item--variant-text .v-list-item__overlay {
    background: #ffcf31 !important;
    border-radius: 8px;
}

.v-list-item-title {
    font-size: 14px !important;
    letter-spacing: .5px !important;
    font-weight: 400 !important;
    font-family: var(--font-2);
}

.v-list-item--active .v-list-item-title {
    color: white !important;
    position: relative;
    z-index: 1 !important;
}

.v-list-item--active>.v-list-item__overlay,
.v-list-item[aria-haspopup=menu][aria-expanded=true]>.v-list-item__overlay {
    opacity: 1 !important;
}