@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
}

.v-list-item--variant-text .v-list-item__overlay {
    background: #ffcf31 !important;
    border-radius: 8px;
}

.v-list-item-title {
    font-size: 14px !important;
    letter-spacing: .5px !important;
    font-weight: 400 !important;
}

.v-list-item--active .v-list-item-title {
    color: white !important;
    position: relative;
    z-index: 1 !important;
}

.v-list-item--active>.v-list-item__overlay,
.v-list-item[aria-haspopup=menu][aria-expanded=true]>.v-list-item__overlay {
    opacity: 1 !important;
}